[user]
	name = Max
	email = blub@bla.org

[core]
    pager = delta

[delta]
    features = side-by-side unobtrusive-line-numbers decorations
    plus-color = "#012800"
    minus-color = "#340001"
    syntax-theme = 1337

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = blue box ul

[interactive]
    diffFilter = delta --color-only
