set hlsearch
set scrolloff=3
set ignorecase smartcase
set showmode
set history=1000

" Configure leader
let mapleader = ','

" easy system clipboard copy/paste
noremap <leader>y "*y
noremap <leader>Y "*Y
noremap <leader>p "*p
noremap <leader>P "*P

" easy window navigation
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-h> <c-w>h
nnoremap <c-k> <c-w>k
nnoremap <a-h> gT
nnoremap <a-l> gt
nnoremap <c-s-tab> gT
nnoremap <c-tab> gt

" code refactoring
nnoremap <leader>rr :action RenameElement<cr>

" space bar un-highligts search
nnoremap <silent> <Space> :silent noh<Bar>echo<CR>
