!----------------------------------------------------
! Author:       Max "keks" Fischer
!
! File:         .Xresources
!----------------------------------------------------

! Black       = color0 + DarkGray = color8
! DarkRed     = color1 + Red      = color9
! DarkGreen   = color2 + Green    = color10
! DarkYellow  = color3 + Yellow   = color11
! DarkBlue    = color4 + Blue     = color12
! DarkMagenta = color5 + Magenta  = color13
! DarkCyan    = color6 + Cyan     = color14
! LightGrey   = color7 + White    = color15

! fonts {{{
! # defines
!#define FONT_NORMAL xft:FSEX301-L2:pixelsize=14
!#define FONT_NORMAL -*-erusfont-medium-r-*-*-*-*-*-*-*-*-*-*
!#define FONT_BOLD -*-erusfont-bold-r-*-*-*-*-*-*-*-*-*-*
!#define FONT_NORMAL -misc-termsyn-medium-r-normal--14-101-100-100-c-70-iso8859-1*
!#define FONT_BOLD -misc-termsyn-bold-r-normal--14-101-100-100-c-70-iso8859-1*
!#define FONT_NORMAL -gohu-gohufont-medium-r-normal--14-100-100-100-c-80-iso8859-1
!#define FONT_BOLD -gohu-gohufont-bold-r-normal--14-100-100-100-c-80-iso8859-1
!#define FONT_NORMAL -misc-proggycleanttszbp-medium-r-normal--0-0-0-0-c-0-iso8859-1
!#define FONT_BOLD -misc-proggycleanttszbp-medium-r-normal--0-0-0-0-c-0-iso8859-1
!#define FONT_NORMAL -misc-tamzenforpowerline-medium-r-normal--14-101-100-100-c-70-iso8859-1
!#define FONT_BOLD -misc-tamzenforpowerline-bold-r-normal--14-101-100-100-c-70-iso8859-1
!#define FONT_NORMAL xft:terminus:pixelsize=14,xft:icomoon:style=Regular,xft:octicons:style=Medium
!#define FONT_NORMAL xft:xos4 Terminus:pixelsize=14, xft:FontAwesome:pixelsize=14
!#define FONT_BOLD xft:xos4 Terminus:pixelsize=14:bold
#define FONT_NORMAL xft:Go Mono for Powerline:pixelsize=12
#define FONT_BOLD xft:Go Mono for Powerline:pixelsize=12:bold
!#define FONT_NORMAL xft:Meslo LG S for Powerline:pixelsize=12
!#define FONT_BOLD xft:Meslo LG S for Powerline:pixelsize=12:bold
!#define FONT_NORMAL xft:Hack:pixelsize=12
!#define FONT_BOLD xft:Hack:pixelsize=12:bold
!#define FONT_NORMAL xft:proggyclean:pixelsize=11
!#define FONT_BOLD xft:proggyclean:pixelsize=11:bold
!#define FONT_NORMAL xft:xos4 Terminess Powerline:pixelsize=14
!#define FONT_BOLD xft:xos4 Terminess Powerline:pixelsize=14
!#define FONT_NORMAL xft:Envy Code R:pixelsize=13
!#define FONT_BOLD xft:Envy Code R:pixelsize=13:bold
!#define FONT_NORMAL xft:ProggySquare:pixelsize=14
!#define FONT_BOLD xft:ProggySquare:pixelsize=14:bold
!#define FONT_NORMAL xft:ProggyCleanTT:pixelsize=16
!#define FONT_BOLD xft:ProggyCleanTTP:pixelsize=16
!#define FONT_NORMAL xft:Iosevka:pixelsize=14
!#define FONT_BOLD xft:Iosevka Medium :pixelsize=14
!#define FONT_NORMAL xft:DejaVu Sans Mono:pixelsize=10
!#define FONT_BOLD xft:DejaVU Sans Mono:pixelsize=10:bold
!#define FONT_NORMAL xft:Source Code Pro:pixelsize=10
!#define FONT_BOLD xft:Source Code Pro:pixelsize=10:bold


!}}}
! vte {{{
  vte*font: FONT_NORMAL
  vte*boldFont: FONT_BOLD
  vte*italicFont: FONT_ITALIC
  vte*background: #121212
  vte*foreground: #d6d6d6
  vte*scrollBar: false
!}}}
! vim {{{
vim*font: FONT_NORMAL
vim*boldFont: FONT_BOLD
vim*italicFont: FONT_ITALIC
vim*boldItalicFont: FONT_BOLDITALIC
vim*background: #121212
vim*foreground: #d6d6d6
vim*scrollBar: false
!}}}

! colors {{{
!#include "/home/keks/.config/xcolors/base16"
#include "/home/keks/.config/xcolors/base16-ocean-256"
!#include "/home/keks/.config/xcolors/base16-github-256"
!#include "/home/keks/.config/xcolors/gruvbox-dark"
!#include "/home/keks/.config/xcolors/badwolf"
!#include "/home/keks/.config/xcolors/solarized"
!URxvt.background: #030303
!URxvt.cursorColor2: #252525
!URxvt.cursorColor: #eb122e
!URxvt.foreground: #ffffff
URxvt.fading: 0
!}}}

URxvt.font: FONT_NORMAL
URxvt.boldFont: FONT_BOLD
URxvt.italicFont: FONT_ITALIC
URxvt.boldItalicFont: FONT_BOLDITALIC
URxvt*boldItalicFont: xft:fixed:antialias=true:hinting=true:hintstyle=hintslight
URxvt.termName: 			rxvt-256color

/* matches */
URxvt.underlineURLs:        false
!URxvt.urlLauncher:          /usr/bin/firefox
URxvt.urlLauncher: urxvt-link.sh
URxvt.url-select.launcher: urxvt-link.sh
URxvt.url-select.underline: true
!URxvt.matcher.button:       1
URxvt.cutchars:             "()*,<>[]{}|'"
!URxvt.matcher.pattern.1:    \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
!URxvt.matcher.launcher.1:   /usr/bin/firefox
Urxvt.matcher.launcher.1:    urxvt-link.sh
URxvt.matcher.pattern.2:    \\B(/\\S+?):(\\d+)(?=:|$)
URxvt.matcher.launcher.2:   gvim +$2 $1
URxvt.matcher.rend.0: Uline Bold fg8 bg1

/* libs */
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.perl-ext:             default,url-select
URxvt.perl-lib:             /usr/lib/urxvt/perl
URxvt.perl-ext-common:      default,matcher
URxvt.perl-eval:            $^O

/* perl magic */
URxvt.letterSpace: 0
URxvt.selection.pattern-0:        ( at .*? line \\d+[,.])
URxvt.selection-autotransform.0:  s/^ at (.*?) line (\\d+)[,.]$/:e \\Q$1\E\\x0d:$2\\x0d/

/* terminal stuff */
URxvt.jumpScroll: true
URxvt.loginShell: true
URxvt.saveLines: 1048586
URxvt.scrollBack: true
URxvt.scrollKey: true
URxvt.scrollTtyKeypress: true
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.skipScroll: true
URxvt.trippleclickwords: true
URxvt.urgentOnBell: true

URxvt.chdir: /home/keks
URxvt.pasteableTabs: true
URxvt.pointerBlank: true
URxvt.pointerBlankDelay: 2
URxvt.scrollstyle: next

/* eyecandy */
URxvt.scrollBar: false
URxvt.depth: 32

UXTerm*font: 9x15

!*font: xft:Dina:size=11
!*boldFont: xft:Dina:size=11:bold

/* leaving urxvt country */

/* cursor settings */
Xcursor*theme: Vanilla-DMZ-AA
!Xcursor*theme: Vanilla-DMZ
Xcursor*size: 24

/* Xft settings */
Xft.dpi: 96
!Xft.autohint: 1
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: true
Xft.antialias: true
Xft.rgba: rgb

! vim: set fdm=marker et sw=2 tw=0:
