[icons]
icons = "awesome6"

[theme]
theme = "space-villain"

[[block]]
block = "disk_space"
path = "/"
info_type = "available"
alert = 8.0
warning = 15.0
format = " $icon $available "
format_alt = " $icon $used/$total ($available free) "
interval = 20

# [[block]]
# block = "net"
# format = " $icon $ssid $signal_strength $ip {$speed_down(w:2) $speed_up(w:2)} "
# interval = 1

[[block]]
block = "battery"
format = " $icon $percentage {$time} "
device = "BAT0"
missing_format = ""

[[block]]
block = "battery"
format = " $icon $percentage {$time} "
device = "BAT1"
missing_format = ""

[[block]]
block = "temperature"
format = " $icon $max "
interval = 10

[[block]]
block = "cpu"
format = " $icon $utilization "
format_alt = " $icon $barchart $frequency "

[[block]]
block = "memory"
format = " $icon $mem_used_percents.eng(w:2) "
format_alt = " $icon $mem_used.eng(w:3)/$mem_total.eng(w:3) $swap_used_percents "

[[block]]
block = "sound"
format = " $icon {$volume.eng(w:2) |} "

[[block]]
block = "time"
interval = 5
format = " $icon $timestamp.datetime(f:'%F %R') "
